doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    )
    //- meta(
    //-   name='viewport'
    //-   content='width=device-width,initial-scale=1'
    //- )
    meta(
      name='viewport'
      content='initial-scale=1,maximum-scale=1,user-scalable=no'
    )
    //- link(
    //-   rel='shortcut icon'
    //-   type='image/png'
    //-   href='./assets/favicon/favicon.png'
    //- )

    title.
      PDT - semester project - Bratislava park explorer

    link(
      rel='stylesheet'
      type='text/css'
      href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css'
    )
    link(
      rel='stylesheet'
      type='text/css'
      href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css'
    )
    link(
      rel='stylesheet'
      type='text/css'
      href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
      integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
      crossorigin='anonymous'
    )

    link(
      rel='stylesheet'
      href='./public/styles/style.css'
    )

    script(
      src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'
      defer
    )
    script(
      src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'
      defer
    )
    script(
      src='https://unpkg.com/axios/dist/axios.min.js'
      defer
    )
    script(
      src='./public/scripts/main.js'
      defer
    )
  body
    block content
